.buildpath
.project
.settings/
application/config/database.php
application/logs/log-*.php
application/cache/*
application/cache/!index.html
application/config/development/facebook.php
application/config/stage/facebook.php
application/config/production/facebook.php
user_guide
